body {
	background-color: #CCCCCC;
	color: #666666;
	margin: 50px;
}

h1 {
	font-size: 1.9em;
}

input {
	display: block;
	padding: 5px;
}

.botao {
	background-color: #fffce1;
	padding: 1em;
	margin-top: 1em;
	text-transform: uppercase;
	width: 10em;
	display: inline;
}

table, td, th {
	border: solid 1px #666666;
	padding: 10px;
}

th {
	background-color: #eeeeee;
}