<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="Imagens">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Download de Imagens</h1>
      </ion-header-bar>
      <ion-content ng-controller="ImagensController">

        <div class="progresso" style="width: {{progresso}}%" ng-show="progresso">{{textoProgresso}}</div>

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Quantidade" ng-model="quantidade">
          </label>
          <button class="button button-small" ng-show="quantidade > 0" ng-click="baixarImagens()">
            Baixar {{quantidade}} imagem(ns)
          </button>
        </div>

        <button class="button button-block" ng-show="baixou" ng-click="exibirImagens()">Exibir Imagens</button>
        {{imagemAtual}}
        <ion-slide-box class="slides" ng-show="imagens" on-slide-changed="trocouImagem()">
          <ion-slide ng-repeat="imagem in imagens">
            <img ng-src="{{imagem}}">
          </ion-slide>
        </ion-slide-box>

      </ion-content>
    </ion-pane>
  </body>
</html>
