<ion-view title="Chat">
  <ion-content class="padding">
    <div class="list" ng-show="mensagens">
        <ul>
          <li class="item" ng-repeat="mensagem in mensagens">
            <strong>{{mensagem.usuario}}: </strong>{{mensagem.mensagem}}
          </li>
        </ul>
    </div>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Mensagem" ng-model="chat.mensagem" value=""> 
        </label>
        <div class="padding">
            <button class="button button-clear ion-android-send" ng-click="envia()"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>